[submodule "themes/brewski"]
	path = themes/brewski
	url = https://github.com/tiaanduplessis/hexo-theme-brewski.git
[submodule "themes/purehugo"]
	path = themes/purehugo
	url = https://github.com/dplesca/purehugo
